/*****************/
/* Footer Styles */ 
/*****************/

footer {
  background-color: $darkestColour;
  text-align: center;
  padding: 1rem 0 1rem 0;
  color: $lightestColour;
  flex-shrink: 0;

  a {
    color: $lightestColour;
  }

  a:hover {
    color: $accentColour;
  }
}
