/*****************/
/* Global Styles */
/*****************/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  flex: 1 0 auto;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: $textFont;
  font-weight: 400;
  font-size: 2rem;
  background-color: $backgroundColour;
  display: flex;
  flex-direction: column;
}

.divHider {
  display: none;
}

.sideList {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: $lightMidColour;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
  border-radius: 0.5em;
}

.sideListOpen {
  width: 250px !important;
}

.listItem {
  border: 2px solid $accentColour;
  padding: 2rem;
  color: $darkestColour;
  margin: 0 0.5rem 1rem 0.5rem;
}

.clearList {
  background-color: $backgroundColour;
  color: $lightestColour;
  border-radius: 0.25em;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 2px 2px 2px $darkestColour;
  position: relative;
  transition: all 0.2s;
  margin: 2rem 0 0 5px;
}

.clearList:hover,
.clearList:focus {
  background-color: $accentColour;
  border-color: $accentColour;
}

.clearList:active {
  top: 1px;
}

.desiredPlantsList {
  transition: all 0.2s;
}

h2 {
  padding: 2rem 2rem 2rem 2rem;
  color: $darkestColour;
  margin: 1rem 1rem 1rem 5px;
  border: 2px solid $accentColour;
}
