/*****************/
/* Header Styles */
/*****************/

header {
  background-color: $lightestColour;
  color: $backgroundColour;
  height: 70vh;
  min-height: 600px;
  position: relative;
  flex: 1 0 auto;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    text-align: center;
  }

  p {
    width: 40%;
    color: $lightestColour;
    background-color: $darkestColour;
    padding: 2rem;
    border-radius: 0.5em;
    margin: 1rem 0;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
  }

  svg {
    position: absolute;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    z-index: 0;
  }
  i {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 5rem;
    color: $accentColour;
    z-index: 4;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(39, 35, 35, 0.664);
    transition: all 0.3s;
  }
  i:hover,
  i:focus {
    color: $lightMidColour;
  }
  i:active {
    font-size: 5.2rem;
  }
}

h1 {
  font-family: $titleFont;
  font-weight: 400;
  text-shadow: 2px 2px 2px $lightMidColour;
  margin-bottom: 2rem;
}

input[type="text"] {
  background-color: $lightMidColour;
  border: 1px solid $backgroundColour;
  border-radius: 0.25em;
  color: $darkestColour;
}

input[type="submit"] {
  background-color: $backgroundColour;
  color: $lightestColour;
  border-radius: 0.25em;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 2px 2px 2px $darkestColour;
  position: relative;
  transition: background-color 0.2s;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: $accentColour;
}

input[type="submit"]:active {
  top: 1px;
}

::placeholder {
  color: $darkestColour;
}

.desiredColour {
  z-index: 2;
}

.confirmationCard {
  background-color: $darkestColour;
  color: $lightestColour;
  text-shadow: 1px 1px 2px $lightMidColour;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
  cursor: default;
  border-radius: 0.5em;
  padding: 20px;
  width: 40%;
  margin-top: 3rem;
  align-self: center;
}
