/*****************/
/* Main Styles */
/*****************/

main {
  background-color: $backgroundColour;
  padding: 1rem 0 1rem 0;
  flex: 1 0 auto;
  position: relative;
  padding-bottom: 5rem;
  svg {
    position: absolute;
    bottom: 0;
  }
}

h3 {
  font-family: $titleFont;
  font-weight: 400;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 3rem;
  margin-bottom: 15rem;
}

.plantCardFront {
  box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);

  .imageContainer {
    align-self: center;
    text-align: center;
    img {
      max-height: 400px;
      align-self: center;
    }
  }

  img {
    border-radius: 0.5em;
    border: 5px solid $lightestColour;
    align-self: center;
  }

  h3 {
    margin-top: 2rem;
    font-family: $titleFont;
    font-weight: 400;
  }

  ul {
    list-style: none;

    li {
      list-style: none;
    }
  }
}

.loadMoreButton {
  text-align: center;

  button {
    bottom: 18rem;
    margin-top: 8rem;
    text-align: center;
    z-index: 2;
    position: relative;
    background-color: $darkestColour;
    color: $lightestColour;
    border-radius: 0.25em;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
    transition: all 0.2s;
    border-color: $darkestColour;
  }

  button:hover,
  button:focus {
    background-color: $accentColour;
    border-color: $accentColour;
  }

  button:active {
    bottom: 17.9rem;
  }
}

.plantCard {
  background-color: transparent;
  min-width: 290px;
  min-height: 500px;
  cursor: pointer;
  perspective: 1000px;
}

.plantCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: default;
}

.plantCard:hover .plantCardInner,
.plantCard:focus .plantCardInner {
  transform: rotateY(180deg);
}

.plantCardFront,
.plantCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: default;
  border-radius: 0.5em;
  padding: 20px;
  background-color: $darkestColour;
  color: $lightestColour;
  text-shadow: 1px 1px 2px $lightMidColour;
  display: flex;
  flex-direction: column;
  h3 {
    text-align: left;
    align-self: left;
    font-family: $titleFont;
    font-weight: 400;
  }
}

.plantCardBack {
  transform: rotateY(180deg);
  text-align: left;
  li {
    margin: 1rem 0 1rem 0;
  }
  h3 {
    border-bottom: 1px solid $lightestColour;
  }
  position: relative;
}

.listButtonWrapper {
  cursor: pointer;
  .listButton {
    background-color: $backgroundColour;
    color: $lightestColour;
    border-radius: 0.25em;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 2px 2px 2px rgba(39, 35, 35, 0.664);
    position: absolute;
    bottom: 21px;
    transition: background-color 0.2s;
    cursor: pointer;
  }
}

.listButton:hover,
.listButton:focus {
  background-color: $accentColour;
}

.listButton:active {
  bottom: 20px;
}
