/*****************/
/* Main Styles */
/*****************/

main {
  background-color: $backgroundColour;
  padding: 1rem 0 1rem 0;
  flex: 1 0 auto;
  position: relative;
  padding-bottom: 5rem;
  svg {
    position: absolute;
    bottom: 0;
  }
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 3rem;
  margin-bottom: 15rem;
}

.plantCard {
  background-color: $darkestColour;
  color: $lightestColour;
  text-shadow: 1px 1px 2px $lightMidColour;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
  cursor: default;
  border-radius: 0.5em;
  padding: 20px;

  img {
    border-radius: 0.5em;
    border: 5px solid $lightestColour;
  }

  h3 {
    padding: 0 0 2rem 2rem;
    margin-top: 2rem;
  }

  ul {
    list-style: none;

    li {
      list-style: none;
    }
  }
}
