main {
  background-color: #81b29a;
  padding: 1rem 0 1rem 0;
  flex: 1 0 auto;
  position: relative;
  padding-bottom: 5rem;
  svg {
    position: absolute;
    bottom: 0;
  }
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.plantCard {
  background-color: $darkestColor;
  color: $lightestColor;
  align-items: center;
  box-shadow: 2px 2px 2px #91abb6;
  border: 5px solid $lightestColor;
  border-radius: 0.5em;
  h3 {
    padding: 1rem 0.5rem 1rem 0;
  }
}
