/*****************/
/*   Variables   */ 
/*****************/

/* Font Families */ 
$titleFont: "raleway", sans-serif;
$textFont: "montserrat", sans-serif;

/* Colours */ 

$lightestColour: #f4f1de;
$lightMidColour: #f2cc8f;
$accentColour: #e07a5f;
$darkestColour: #3d405b;
$backgroundColour: #81b29a;
