/*****************/
/* Setup Snippet */
/*****************/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*****************/
/*   Variables   */
/*****************/
/* Font Families */
/* Colours */
/*****************/
/* Global Styles */
/*****************/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  background-color: #81b29a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.divHider {
  display: none;
}

.sideList {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #f2cc8f;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
          box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
  border-radius: 0.5em;
}

.sideListOpen {
  width: 250px !important;
}

.listItem {
  border: 2px solid #e07a5f;
  padding: 2rem;
  color: #3d405b;
  margin: 0 0.5rem 1rem 0.5rem;
}

.clearList {
  background-color: #81b29a;
  color: #f4f1de;
  border-radius: 0.25em;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-box-shadow: 2px 2px 2px #3d405b;
          box-shadow: 2px 2px 2px #3d405b;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 2rem 0 0 5px;
}

.clearList:hover,
.clearList:focus {
  background-color: #e07a5f;
  border-color: #e07a5f;
}

.clearList:active {
  top: 1px;
}

.desiredPlantsList {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

h2 {
  padding: 2rem 2rem 2rem 2rem;
  color: #3d405b;
  margin: 1rem 1rem 1rem 5px;
  border: 2px solid #e07a5f;
}

/*****************/
/* Header Styles */
/*****************/
header {
  background-color: #f4f1de;
  color: #81b29a;
  height: 70vh;
  min-height: 600px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  text-align: center;
}

header svg {
  position: absolute;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  z-index: 0;
}

header i {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 5rem;
  color: #e07a5f;
  z-index: 4;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(39, 35, 35, 0.664);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header i:hover,
header i:focus {
  color: #f2cc8f;
}

header i:active {
  font-size: 5.2rem;
}

h1 {
  font-family: "raleway", sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 2px #f2cc8f;
  margin-bottom: 2rem;
}

input[type="text"] {
  background-color: #f2cc8f;
  border: 1px solid #81b29a;
  border-radius: 0.25em;
  color: #3d405b;
}

input[type="submit"] {
  background-color: #81b29a;
  color: #f4f1de;
  border-radius: 0.25em;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-box-shadow: 2px 2px 2px #3d405b;
          box-shadow: 2px 2px 2px #3d405b;
  position: relative;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #e07a5f;
}

input[type="submit"]:active {
  top: 1px;
}

::-webkit-input-placeholder {
  color: #3d405b;
}

:-ms-input-placeholder {
  color: #3d405b;
}

::-ms-input-placeholder {
  color: #3d405b;
}

::placeholder {
  color: #3d405b;
}

.desiredColour {
  z-index: 2;
}

.confirmationCard {
  background-color: #3d405b;
  color: #f4f1de;
  text-shadow: 1px 1px 2px #f2cc8f;
  text-align: center;
  -webkit-box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
          box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
  cursor: default;
  border-radius: 0.5em;
  padding: 20px;
  width: 40%;
  margin-top: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*****************/
/* Main Styles */
/*****************/
main {
  background-color: #81b29a;
  padding: 1rem 0 1rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  padding-bottom: 5rem;
}

main svg {
  position: absolute;
  bottom: 0;
}

h3 {
  font-family: "raleway", sans-serif;
  font-weight: 400;
}

.results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(290px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 3rem;
  margin-bottom: 15rem;
}

.plantCardFront {
  -webkit-box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
          box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
}

.plantCardFront img {
  border-radius: 0.5em;
  border: 5px solid #f4f1de;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.plantCardFront h3 {
  margin-top: 2rem;
  display: inline-block;
  font-family: "raleway", sans-serif;
  font-weight: 400;
}

.plantCardFront ul {
  list-style: none;
}

.plantCardFront ul li {
  list-style: none;
}

.loadMoreButton {
  text-align: center;
}

.loadMoreButton button {
  bottom: 18rem;
  margin-top: 8rem;
  text-align: center;
  z-index: 2;
  position: relative;
  background-color: #3d405b;
  color: #f4f1de;
  border-radius: 0.25em;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
          box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-color: #3d405b;
}

.loadMoreButton button:hover,
.loadMoreButton button:focus {
  background-color: #e07a5f;
  border-color: #e07a5f;
}

.loadMoreButton button:active {
  bottom: 17.9rem;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.plantCard {
  background-color: transparent;
  min-width: 290px;
  min-height: 630px;
  cursor: pointer;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.plantCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.plantCard:hover .plantCardInner,
.plantCard:focus .plantCardInner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.plantCardFront,
.plantCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  cursor: default;
  border-radius: 0.5em;
  padding: 20px;
  background-color: #3d405b;
  color: #f4f1de;
  text-shadow: 1px 1px 2px #f2cc8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plantCardFront h3,
.plantCardBack h3 {
  text-align: left;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  font-family: "raleway", sans-serif;
  font-weight: 400;
}

.plantCardBack {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: left;
  position: relative;
}

.plantCardBack li {
  margin: 1rem 0 1rem 0;
}

.listButtonWrapper {
  cursor: pointer;
}

.listButtonWrapper .listButton {
  background-color: #81b29a;
  color: #f4f1de;
  border-radius: 0.25em;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-box-shadow: 2px 2px 2px rgba(39, 35, 35, 0.664);
          box-shadow: 2px 2px 2px rgba(39, 35, 35, 0.664);
  position: absolute;
  bottom: 21px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

.listButton:hover,
.listButton:focus {
  background-color: #e07a5f;
}

.listButton:active {
  bottom: 20px;
}

/*****************/
/* Footer Styles */
/*****************/
footer {
  background-color: #3d405b;
  text-align: center;
  padding: 1rem 0 1rem 0;
  color: #f4f1de;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

footer a {
  color: #f4f1de;
}

footer a:hover {
  color: #e07a5f;
}

/*****************/
/* Media Queries */
/*****************/
@media (max-width: 655px) {
  .confirmationCard {
    width: 70%;
  }
}

@media (max-width: 355px) {
  .wrapper {
    width: 90%;
  }
}
